@import url("reticula.css");

header {
    width: 100%;
    color: #FFF;
    background-color: #000;
    box-sizing: border-box;
    margin: 0;
    padding-bottom: 0px;
    border-bottom: 1px solid #EDE225;
    font-family:  'Open sans', Impact, sans-serif;
}

ul,li a{
    list-style: none;
    display: flex;
    text-decoration: none;
    color: #FFF;
}

.logo_solex {
    width: 14em;
    height: 3.5em;
    float: left;
}

.logo_tableau {
    width: 4em;
    height: 4em;
}

.logo_twitter{
    width: 2.5em;
    height: 2em;
}

.display_block
{
    display: block;
    float: right;
    width: 700px;
    height: 600px
    padding-bottom: 150px;
}

.excel_table {
    border-radius: 10px;
    padding-bottom: 20px;
    width: 700px;
    height: 300px
}

.inicio_grafico_tableau{
    width: 554px;
    height: 220px;
}

.tablau_public
{
 position: absolute; /* podría ser relative */
 left: 120px;
 border-radius: 5px;
 }