@import url("reticula.css");

header {
    width: 100%;
    color: #FFF;
    background-color: #000;
    box-sizing: border-box;
    margin: 0;
    padding-bottom: 0px;
    border-bottom: 1px solid #EDE225;
    font-family:  'Open sans', Impact, sans-serif;
}

ul,li a{
    list-style: none;
    display: flex;
    text-decoration: none;
    color: #FFF;
}

.logo_solex {
    width: 14em;
    height: 3.5em;
    float: left;
}

.logo_tableau {
    width: 4em;
    height: 4em;
}

.logo_twitter{
    width: 2.5em;
    height: 2em;
}

.tableau_gif_drag
{
    float: right;
    width: 600px;
    height: 400px;
}

.tableau_gif_explore
{
    float: left;
    width: 600px;
    height: 400px;
}

.tableau_gif_databases{
    float: right;
    width: 500px;
    height: 300px;
}

.tableau_gif_tablet {
    float: right;
    width: 650px;
    height: 400px;
}

.tableau_gif_server {
    float: left;
    width: 600px;
    height: 400px;
}

.tableau_img_all_use_data {
    float: right;
    width: 600px;
    height: 500px;
}

.tableau_pixar_img {
    float: right;
    width: 500px;
    height: 300px;
    border-radius: 10px;
}

.tableau_founders {
    width: 200px;
    height: 230px;
    border-radius: 10px;
}

.tableau_magic_quadrant {
    width: 550px;
    height: 500px;
}

.excel_table {
    border-radius: 10px;
    padding-bottom: 20px;
    width: 700px;
    height: 300px
}

.inicio_grafico_tableau{
    width: 600px;
    height: 250px;
}


.clientes_solex_chile_cuadrado {
    width: 3.5em;
    height: 3.5em;
    background-color: #fff;
    opacity: 0.9;
}

.clientes_solex_chile_rectangulo {
    width: 6.5em;
    height: 3.5em;
    background-color: #fff;
    opacity: 0.9;
}

.clientes_solex_colombia_cuadrado
{
    width: 7em;
    height: 3em;
    background-color: #fff;
    opacity: 0.9;
}

.tableau_marca_final{
    width: 700px;
    height: 170px;
}

.tableau_demo{
    width: 600px;
    height: 300px;
    float: right;
}